/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap');

/*-----VARIABLES-----*/
:root{
    --primary-color: #2f2f2f;
    --text-dark: #18181b;
    --text-light: #71717a;
    --white:#ffffff;
    --max-width: 1200px;
    --lora-font:'Lora', serif;
    --poppins-font:'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section_header{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--lora-font);
    color: var(--text-dark);
}
.section_subheader{
    color: var(--text-light);
}
.btn{
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background-color: var(--text-dark);
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
}
html,body {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*----------HEADER----------*/
header{
    background-image: linear-gradient(
        to bottom, 
        rgba(0,0,0,.8),
        rgba(0,0,0,.2)
    ),
    url(/assets/imgs/headerimg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*----------NAV----------*/
nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    flex: 1;
}

.nav_logo a{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--lora-font);
    color: var(--white);
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    position: relative;
    padding: 10px 0;
    color: var(--white);
    transition: 0.3s;
}

.link a::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: var(--white);
    transition: 0.3s;
}
.link a:hover::after{
    width: 100%;
}
.nav_menu_btn{
    display: none;
    font-size: 1.5rem;
    color: var(--white);
}
.nav_actions{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
.nav_actions span{
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
}
.header_container{
    text-align: center;
    color: var(--white);
}

.header_container h1{
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: var(--lora-font);
}

.header_container p{
    max-width: 600px;
    margin-inline: auto;
    margin-bottom: 4rem;
    font-size: 1.2rem;
}
.header_container form{
    width: 100%;
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 4rem;
    padding-block: .25rem;
    padding-inline: 1.25rem .25rem;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 1px solid var(--white);
    border-radius: 5rem;
}
.header_container input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
}
.header_container input::placeholder {
    color: var(--white);
}
.header_container button {
    padding: 11px 12px;
    font-size: 1.25rem;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
}
.header_container a {
    display: inline-block;
    padding: 0 12px;
    font-size: 3rem;
    color: var(--white);
    backdrop-filter: blur(10px);
    border: 1px solid var(--white);
    border-radius: 100%;
}

/*----------CHOOSE SECTION----------*/
.choose_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}
.choose_container .choose_bg{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-3rem);
    max-width: 300px;
    opacity: 0.4;
    z-index: -1;
}
.choose_grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem 1rem;
}
.choose_card span{
    display: inline-block;
    margin-bottom: .5rem;
    padding: 5px 10px;
    font-size: 1.25rem;
    background-color: #cad8d8;
    border-radius: 100%;
}
.choose_card h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--lora-font);
    color: var(--text-dark);
}
.choose_card p{
    color: var(--text-light);
}
.choose_image img{
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.2);
}
/*----------INSTALL SECTION----------*/

.install_container{
    padding-block: 5rem;
    display: grid;
    grid-template-columns: 
        minmax(0,1fr)
        minmax(0,var(--max-width))
        minmax(0,1fr)
    ;
    padding: 15px;
    row-gap: 2rem;
}
.install_grip_top{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.install_grid_bottom{
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.install_container img{
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.2);
}
.install_content{
    padding-right: 1rem;
}
.install_content .section_subheader{
    margin-bottom: 2rem;
}

/*----------INSTALL SECTION----------*/
.product_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
}
.product_container .section_subheader{
    margin-bottom: 2rem;
}
.product_image{
    position: relative;
    isolation: isolate;
}
.product_image::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #ebf1f1;
    border-radius: 15px;
    transition: 0.3s;
    z-index: -1;
}
.product_image:hover::before{
    height: 80%;
}
.product_image_content{
    padding-bottom: 2rem;
    text-align: center;
    transition: 0.3s;
}
.product_image_content img{
    margin-bottom: 1rem;
    max-width: 250px;
    margin: auto;
}
.product_image_content p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}
.product_image_content h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.product_image:hover .product_image_content{
    transform: translateY(-2rem)
}
.product_image a{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 50%);
    padding: 0 7px;
    font-size: 1.55rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.2);
    opacity: 0;
    transition: 0.3s;
}
.product_image:hover a{
    opacity: 1;
}
 
/*----------REVIEW SECTION----------*/
.review_container .section_header{
    text-align: center;
}
.swiper{
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
.swiper-wrapper{
    padding-bottom: 1.5rem;
}
.review_card{
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}
.review_card p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--text-dark);
}
.review_card img{
    max-width: 60px;
    margin-inline: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.2);
}
.review_card h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.review_card h5{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
}
/*----------FOOTEr----------*/
.footer {
    background-color: var(--primary-color);
}
.footer_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    border-bottom: 1px solid var(--white);
}
  
.footer_content h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--white);
}
  
.footer_content p {
    color: var(--white);
}
  
.footer_form form {
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 10px;
}
  
.footer_form input {
    width: 100%;
    padding: 0 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
}
  
.footer_form button {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
}
  
.footer_bar {
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
  
.footer_logo h4 a {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--white);
}
  
.footer_logo p {
    margin-top: 5px;
    font-size: 0.8rem;
    color: var(--white);
}
  
.footer_nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
  
.footer_link a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}
  
/*----------RESPONSIVE----------*/
@media (max-width: 700px) {
    .nav_logo a{
        font-size: 1rem;
        font-weight: 600;
    }
    .choose_container .choose_bg{
        position: absolute;
        top: 1rem;
        left: 65%;
        transform: translateX(-3rem);
        max-width: 210px;
        
    }
    
}